.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url('../../images/img-not-found.png') no-repeat 50% 50%,*/
    /*            url('../../images/bg-not-found.svg') no-repeat;*/
    background-size: contain, cover;
}
.not-found__title {
    line-height: 1.5;
    text-align: center;
    margin-top: 350px;
    font-weight: 300;
    width: 601px;
    height: 62px;
    font-size: 20px;
}
.message-link {
    color: #E9041E;
}

@media (max-width: 750px) {
    .not-found__title {
        margin-top: 280px;
    }
}


@media (max-width: 1599px) {
    .not-found__title {
        font-size: 15px;
    }
}
