.product-item {
    width: 1200px;
    background: #E9041E;
    box-shadow: 0px 6px 6px #00000030;
    color: white;
    border-radius: 20px 20px 90px 90px;
    padding: 10px 30px 20px;
}

.product-item__title {
    max-width: 1000px;
}
.product-item__icon {
    border-radius: 15px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-flex;
    vertical-align: top;
    background-size: cover;
    background-image: url(../../images/icons/trub.jpg);
    background-repeat: no-repeat;
}

.product-item__header {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.people-icon {
    padding-top: 8px;
}

.product-item__people {
    margin-left: 29px;
}

.people-count {
    margin-left: 7px;
}

.product-item__content {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.product-item__content,
.product-item__left {
    display: flex;
}

.product-item__content-title {
    font-size: 20px;
}

.product-item__price {
    width: 144px;
    background: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    line-height: 0;
    height: 0;
    font-size: 12px;
}