.header {
    height: 105px;
    box-shadow: 0 3px 6px #00000019;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.header__center {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header__center:nth-child(n) > .header__left-panel * {
    margin-right: 13px;
}

.header__logo {
    width: 283px;
    height: 49px;
    margin-top: 23px;
    background-image: url(../../images/logo.svg);
    display: inline-flex;
    background-repeat: no-repeat;
}

.header__left-panel {
    position: relative;
}

.header__search {
    font-weight: bold;
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 140px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 10px 30px 10px 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    margin-top: 27px;
    vertical-align: top;
    background-image: url(../../images/icons/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 110px 9px;
    background-size: 18px 18px;
    transition: all 1s;
}

.header__search_focus {
    width: 500px;
    background-position: 470px 9px;
}

.header__buttons {
    display: inline-flex;
    vertical-align: top;
    transition: all 1s;
    margin-left: 153px;
}

.header__buttons_hide {
    margin-left: 0;
}

.header__search::placeholder {
    color: grey;
    font-weight: bold;
}

.header__user-container {
    margin-bottom: 15px;
}

.header__user-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    height: 100%;
    margin-right: 11px;
    line-height: 1.5;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

.header__user-circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-flex;
    vertical-align: top;
    margin-top: 20px;
    background-image: url(../../images/elonMusk.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.header__user-back {
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.header__user-back-icon {
    margin-bottom: 2px;
    width: 21px;
    height: 21px;
    display: block;
    background-image: url(../../images/icons/exit.svg);
}

.header-red-button {
    padding: 8px 13px !important;
    background-color: #E9041E !important;
    border-radius: 16px !important;
    text-transform: uppercase !important;
    position: relative !important;
    color: white !important;
    vertical-align: top;
    margin-top: 27px;
    min-height: 37px;
}

.header-red-button__with-arrow {
    padding-right: 32px !important;
}

.header-red-button__with-arrow:after {
    content: '';
    position: absolute;
    top: 6px;
    right: 16px;
    width: 6px;
    height: 6px;
    margin-left: 10px;
    margin-top: 4px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
}