.cart {
    box-sizing: border-box;
    width: 100%;
    min-width: 1140px;
    border-radius: 15px;
    opacity: 1;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    margin-top: 20px;
    transition: all 0.5s;
    margin-bottom: 20px;
}

.cart__title {
    font-size: 24px;
    font-weight: bold;
}

.cart__content-header,
.cart__add-marks,
.cart__actions,
.cart__flex,
.cart__buttons,
.cart__my-marks {
    display: flex;
}

.cart__buttons {
    flex-direction: column;
}
.cart__description {
    text-decoration: underline;
    cursor: pointer;
}

.cart__actions button {
    width: 160px;
    height: 72px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.cart__actions .cart__submit {
    background: #e9041e;
    margin-bottom: 8px;
}
.cart__actions .cart__request {
    background: black;
}

.cart__actions {
    margin-bottom: 21px;
}
.cart__options {
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cart__options div {
    max-width: 105px;
    border: 2px solid #E9041E;
    border-radius: 16px;
    padding: 0 15px;
    text-align: center;
    margin-top: 8px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cart .heart {
    margin-top: 3px;
    margin-right: 6px;
}

.cart__content {
    width: 50%;
}

.cart__content div{
    max-height: 300px;
    margin-bottom: 5px;
    overflow: hidden;
    transition: max-height 1s;
}

.cart__content_hidden div {
    max-height: 75px;
}

.cart .cart__prices {
    display: flex;
}

.cart .cart__price-line{
    text-decoration: line-through;
    color: #c4c4c4;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 7px;
}

.cart .cart__price {
    font-weight: bold;
    font-size: 25px;
}

.cart__my-marks div{
    text-decoration: underline;
    cursor: pointer;;
}

.cart__right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}