.offers {
    box-sizing: border-box;
    width: 100%;
    min-width: 1140px;
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.offer {
    width: 44%;
    border-radius: 15px;
    background: white;
    padding: 30px;
}

.offer__title {
    font-size: 22px;
    font-weight: bold;
}

.offer__content {
    margin-top: 25px;
    position: relative;
}

.offer__price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
}

.offer__work {
    margin-top: 20px;
    font-family: Georgia serif;
    font-style: italic;
    margin-right: 200px;
    line-height: 1.2;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offer__user {
    display: flex;
}

.offer__user-content {
    margin-left: 16px;
}

.offer__name {
    font-size: 18px;
    color: black;
}

.offer__type {
    font-size: 13px;
}

.offer__icon {
    border-radius: 15px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-flex;
    vertical-align: top;
    /*background-image: url(../../images/elonMusk.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}

.offer__feature {
    margin-top: 15px;
}

.offer__feature-title {
    font-size: 18px;
    font-family: Creata, sans-serif;
    letter-spacing: 0;
}

.offer__feature-options {
    display: flex;
}

.offer__feature-options div {
    font-size: 14px;
    border: 2px solid #E9041E;
    border-radius: 16px;
    padding: 0 10px;
    margin-top: 8px;
    margin-right: 8px;
    line-height: 30px;
}