:root {
    --green: #68c981;
    --global-font-size: 16px;

    --max-width: 1200px;
    /*--min-width: 1600px;*/
}

.icon {
    vertical-align: middle;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

html, body, #root {
    height: 100%;
    min-height: 600px;
    overflow: hidden;
}

.app {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: default;
    min-height: 100vh;
    background: #F7F7F7;
    height: calc(100% - 105px);
    overflow-y: scroll;

}

@font-face {
    font-family: Creata;
    font-weight: normal;
    src: local('CreataRegular'), url("./fonts/CreataRegular.otf");
}

@font-face {
    font-family: Creata;
    font-weight: normal;
    src: local('CreataMedium'), url("./fonts/CreataMedium.otf");
}

@font-face {
    font-family: Creata;
    font-weight: normal;
    src: local('CreataBold'), url("./fonts/CreataMedium.otf");
}

@font-face {
    font-family: Creata;
    font-weight: bold;
    src: local('CreataBold'), url("./fonts/CreataBold.otf");
}

@font-face {
    font-family: CreataItalic;
    font-weight: normal;
    src: local('CreataItalic'), url("./fonts/CreataItalic.otf");
}

body {
    font-family: Creata, sans-serif;
    font-size: var(--global-font-size);
}

.wrapper {
    /*height: calc(100% - var(--header-height));*/
    display: flex;
    justify-content: center;
    /*align-items: flex-start;*/
    cursor: default;
    max-width: var(--max-width);
    margin: 0 auto;
    /*min-width: var(--min-width);*/
}
